.btn {
  cursor: pointer;
  width: 112px;
  height: 36px;
  box-shadow: 0 12px 16px rgba(12, 20, 61, 0.06);
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: $mainFont;
  
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  // default btn
  &.btn-default {
    color: $mainFontColor;
    border: 1px solid $mainFontColor;
    background-color: #ffffff;
  }

  // primiry btn
  &.btn-primary {
    color: #ffffff;
    border: 1px solid #494ce8;
    background-color: #494ce8;
  }

  // primiry btn
  &.btn-success {
    color: #ffffff;
    background-color: $success-color;
    text-transform: uppercase;
  }

  // danger btn
  &.btn-danger {
    color: #ffffff;
    border: 1px solid hsl(0, 48%, 48%);
    background-color: #b53f3f;
  }

  &.btn-white {
    color: #333333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
}