.home-stats {
  @include flex(row, space-around, center);
  background: #ffffff;
  border-radius: 3px;
  margin: 8px 4px 5px 4px;
  box-shadow: 0 8px 16px rgba(12, 20, 61, 0.06);
  height: 35px;
  &__block {
    @include flex(column, space-around, center);
  }
  .home-stat {
    font-size: 11px;
    text-transform: uppercase;
    &--light {
      color: $neutral-secondary;
      font-size: 11px;
      font-weight: 300;
    }
    &--dark {
      font-size: 12px;
      font-weight: 500;
    }
  }
  &__member-since {
    color: $neutral-secondary;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
  }
}