/* Mixins:
   ========================================================================== */

// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// size to one line
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// placeholder helper
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}


@mixin flex($dir: row, $just: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $just;
}

@mixin link_a($color: $default-color, $hover_color: $color, $visited_color: $color) {
  a {
    color: $color;
    &:visited {
      color: $visited_color;
    }
    &:hover {
      color: $hover_color;
    }
  }
}

@mixin bonus {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}