/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Rubik', Helvetica, Arial, sans-serif; 

// Size
$mainFontColor           : #0c143d;
$mainFontSize            : 15px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$mobileWidth             : 375px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;

// Blue
$primary-color           : #4e67fd;
$primary-light           : #ccd2fa;
$text-light              : #647298;
$bg-dark                 : #dcdaea;
// Red
$danger-color            : #ff283b;
$danger-light            : #facccc;
// Grey
$light-color             : #a8b1c6;

$success-color           : #aec225;
$warning-color           : #fed330;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #929db8;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
