@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%; 
  background-color: $neutral-regular;
  @include flex(row, center);
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, #ffffff 0%, #f4f5f8 12%, #e8eaf0 100%);

  max-width: $mobileWidth;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  max-height: 600px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  // padding: 40px 0; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10px; 
  .title {
    padding: 5px 0;
  }
  &.wrapper--guild {
    padding: 0 4px; 

  }
}

.content-wrapper {
  all: inherit;
  width: 100%;
  padding: 4px;
  // min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  // max-width: $desktopWidth;
}

.block {
  margin-top: 5px;
  padding: 20px;
  &:last-child {
    margin-bottom: 5px;
  }
  &.block--rounded {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(12, 20, 61, 0.06);
    
  }
}

.rank {
  @include flex(column, center, center);
  margin-top: 10px;
  &__title {
    @include flex(column, center, center);
    text-align: center;
    color: $neutral-secondary;
    font-size: 11px;
    font-weight: 300;
    line-height: 10px;
  }
  &__value {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
  }
}

.arrow {
  cursor: pointer;
  &__img {
    @include size(13px, auto);
  }
  &.arrow--active {
    .arrow__img {
      transform: rotate(180deg);
    }
  }
}
// Modules:
// example: @import "modules/my-module.scss";

//Common
@import "./common";

// Components
@import "./components/top-app-bar";
@import "./components/home-profile";
@import "./components/progress";
@import "./components/home-stats";
@import "./components/home-badges";
@import "./components/mini-tab-bar";
@import "./components/score";
@import "./components/tasks";
@import "./components/warning-calc-time";
@import "./components/score-stats";
@import "./components/game-score-stats";
@import "./components/club-task";
@import "./components/club-player-closed";
@import "./components/club-mini-profile";
@import "./components/user-contribution";
@import "./components/guild-score";
@import "./components/user-leaderboard";
@import "./components/settings-avatar";
@import "./components/settings-frame";
@import "./components/settings-data";
@import "./components/club-player-opened";