@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%; 
  background-color: $neutral-regular;
  @include flex(row, center);
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, #ffffff 0%, #f4f5f8 12%, #e8eaf0 100%);

  max-width: $mobileWidth;
  margin-top: 100px;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  // padding: 40px 0; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  // margin: 0 auto;
  // min-height: 100vh;
  // min-width: 100vh;
}

.content-wrapper {
  all: inherit;
  width: 100%;
  padding: 4px;
  // min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  // max-width: $desktopWidth;
}

// Modules:
// example: @import "modules/my-module.scss";

//Common
@import "./common";

// Components
@import "./components/top-app-bar";
@import "./components/home-profile";
@import "./components/progress";
@import "./components/home-stats";
@import "./components/home-badges";
@import "./components/mini-tab-bar";